body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #1f1e1efd;
  color: #333;
}

h1,
h2 {
  text-align: center;
}

.video-container,
.controls {
  display: none;
}

.video-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  /*Margin for the chat and hang up/call functions/btns*/
  /* margin-bottom: 20px; */
}

.video-box {
  width: calc(60% - 10px);
  height: calc(89vh - 20px);

  /* background-color: #fff; */
  /* padding: 10px; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
}

.video-box h2 {
  flex-shrink: 0;
  text-align: left;
  color: rgb(9, 9, 9);
  margin: 10px;
  font-size: 14pt;
  position: relative;
  top: -45px;
  left: 3px;
  z-index: 5;
}

video {
  flex-grow: 1;

  width: 100%;

  object-fit: cover;

  height: calc(93%);
  background-color: #343232fd;
  /* border: 2px solid #00ff26; */
  border-radius: 7px;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

.hangupButton {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  color: rgb(57, 88, 180);
  background-color: #f9edb0;
}

.MuteBtn {
  margin: 0;
  padding: 5px 5px 6px 5px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
  cursor: pointer;

  background-color: #f9edb0;
  z-index: 7;
}

.MuteBtn img {
  position: relative;
  top: 2px;
}

.MuteBtn:hover {
  background-color: #ffe665;
}

.MuteBtn.muted {
  background-color: #ffa591;
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-log {
  height: 200px;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-log p {
  margin: 5px 0;
  font-size: 0.9em;
}

.chat-input {
  display: flex;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.chat-input button {
  padding: 10px 15px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

/* #region Start Screen */
.StartSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1e1efd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  flex-direction: column;
  text-align: center;
}

.NameInput {
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #89b8eb;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  width: 300px;
}

.NameInput::placeholder {
  color: #929090;
}

.startButton {
  padding: 10px 20px;
  margin: -5px 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.startButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.startButton:hover {
  background-color: #0056b3;
}

.Loading {
  display: none;
}

.SpinnyBoi {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Loading > p {
  color: #f3f3f3;
  margin-top: 10px;
  margin-bottom: 70px;
}
/* #endregion */
